<div >
  <%= form_for(@user, url: signup_path) do |f|%>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :is_mentor %>
    <%= f.text_field :is_mentor%>

    <%= f.label :phone %>
    <%= f.telephone_field :phone %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Create my account"%>

  <% end %>


</div>
